@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #830eff;
    --roxinho: #d3b1f8;
    --roxinho-hover: #ddc7f5;
    --primary-hover: #9e4ff3;
    --primary-focus: #5b00bd;
    --text-primary: #4a4c4f;
    --text-primary2: #6a4494;
    --sidebar-width: 145px;
    --paper: #f7f4f8;
    --background: #f0f0fa80;
    --background-dark: #e7e7f180;

    --verde: #5dff80;
    --verde-dark: #188d31;
    --verdinho: #a3ffb7;
    --vermelho: #ff3232;
    --vermelho-dark: #7c0f0f;
    --vermelhinho: #ff9595;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.icon {
    color: var(--primary);
    font-size: 1.4rem;
}

.main {
    width: calc(100% - var(--sidebar-width));
    padding: 10px 15px;
}
h1,h2,h3,h4,h5,p {
    color: var(--text-primary);
}
h1 {
    font-weight: 500 !important;
    font-size: 20px !important;
}
h2 {
    font-weight: 500 !important;
    font-size: 18px !important;
}
h3 {
    font-weight: 500 !important;
    font-size: 14px !important;
}
h5 {
    font-size: 14px !important;
    font-weight: 500 !important;
}
p {
    font-size: 12px !important;
}
.paper-sm, .paper {
    padding: 8px;
    background-color: var(--background-dark);
    box-shadow: 0x 5px 8px rgba(150, 150, 180, .2);
    border-radius: 7px;
}

.paper {
    padding: 12px;
}
